<footer>
  <div class="footers">
    <div class="logos">
      <a href="https://www.facebook.com/profile.php?id=100051447379923"><img src="img/logo.jpg" alt="Logo" width="200px"></a>
    </div>
    <div class="us">
      <p><b>Về chúng tôi</b></p>
      <a href="#">Sản phẩm</a>
      <a href="#">Tin tức</a>
      <a href="#">Cửa hàng</a>
    </div>
    <div class="contact">
      <p><b>Liên hệ</b></p>
      Hotline:<span> +84 362609573</span><br>
      Địa chỉ:<span> 54/17 Nguyễn Văn Quá, Quận 12, TP.HCM</span><br>
      E-mail:<span> vhuy2711@gmail.com</span>
      </div>
    </div>
</footer>
